* {
  box-sizing: border-box;
}

input, textarea, button {
  outline: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "맑은 고딕", "Malgun Gothic", "Microsoft JhengHei", "meiryo", "MS PGothic", "돋움", Dotum, sans-serif;
}
